<!--  {include file="common/head"/}  -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no"">
    <meta name="keywords" content="{$title}">
    <meta name="description" content="{$title}">
	<link rel="stylesheet" href="css/sm.min.css">
    <link rel="stylesheet" href="css/sm-extend.css">
    <link rel="stylesheet" href="css/pages/account-income-list.css">
    <script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='../js/jquery.2.1.1.min.js' charset='utf-8'></script>
</head>
<body id="account-income-list">
	<div class="title_bar">
		<span>账号收益明细</span>
		<a href="" onclick="window.history.go(-1);">&lt;</a>
	</div>
	<div class="sum">
		您现在共有账号3个
	</div>
	<div class="income-list">
	<!-- 选项卡 -->
	  <div class="content-block">
	    <div class="buttons-row">
	      <a href="#tab1" class="tab-link active button">三生万物账号</a>
	      <a href="#tab2" class="tab-link button">六六无尽账号</a>
	      <a href="#tab3" class="tab-link button">九九归一账号</a>
	    </div>
	  </div>
	  <div class="tabs">
	    <div id="tab1" class="tab active">
	      <div class="content-block">
	      <ul class="income_list">
	      	<li><span>账号ID</span><span>奖励金额及类型</span></li>
	      	<li>
	      		<p class="fl">
	      			<span class="account-id">V9999999</span>
	      			<span class="time-record">2018-11-30 10:30</span>
	      		</p>
	      		<p class="fr">
	      			<span class="award-type">见点奖</span>
	      			<span class="award-num">XMTT+$6.00000000</span>
	      		</p>
	      	</li>
	      	<li>
	      		<p class="fl">
	      			<span class="account-id">V9999999</span>
	      			<span class="time-record">2018-11-30 10:30</span>
	      		</p>
	      		<p class="fr">
	      			<span class="award-type">直推奖</span>
	      			<span class="award-num">XMTT+$12.00000000</span>
	      		</p>
	      	</li>
	      	<li>
	      		<p class="fl">
	      			<span class="account-id">V9999999</span>
	      			<span class="time-record">2018-11-30 10:30</span>
	      		</p>
	      		<p class="fr">
	      			<span class="award-type">管理奖</span>
	      			<span class="award-num">XMTT+$8.00000000</span>
	      		</p>
	      	</li>
	      </ul>
	      </div>
	    </div>
	    <div id="tab2" class="tab">
	      <div class="content-block">
	        <ul class="income_list">
	      	<li><span>账号ID</span><span>奖励金额及类型</span></li>
	      	<li>
	      		<p class="fl">
	      			<span class="account-id">V2222222</span>
	      			<span class="time-record">2018-11-30 10:30</span>
	      		</p>
	      		<p class="fr">
	      			<span class="award-type">见点奖</span>
	      			<span class="award-num">XMTT+$6.00000000</span>
	      		</p>
	      	</li>
	      </ul>
	      </div>
	    </div>
	    <div id="tab3" class="tab">
	      <div class="content-block">
	       <ul class="income_list">
	      	<li><span>账号ID</span><span>奖励金额及类型</span></li>
	      	<li>
	      		<p class="fl">
	      			<span class="account-id">V1111111</span>
	      			<span class="time-record">2018-11-30 10:30</span>
	      		</p>
	      		<p class="fr">
	      			<span class="award-type">见点奖</span>
	      			<span class="award-num">XMTT+$6.00000000</span>
	      		</p>
	      	</li>
	      </ul>
	      </div>
	    </div>
	  </div>
	<!-- 选项卡end -->
	</div>
	<div style="height: 2rem"></div>
</body>


</html>

<!--  {include file="common/footer"/}  -->
