<!doctype html>
<html style="background: #33344c;">
<head>
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no"">
<title>APP下载</title>
</head>
<style>
	html{width: 100%;background-color: #E7E7E7;}
	img{display: block}
	.enter{
		width: 100%;
		position: relative;
	}
	.enter a{
	width: 80%;
    margin: 0 auto;
    height: 45px;
    margin-top: 30px;
    border-radius: 10px;
    line-height: 45px;
    background: #1b8ff3;
    font-size: 18px;
    letter-spacing: 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: block;
	}
</style>
<body>
<div style="margin-top:50%;"><!-- <img src="__HOME__/btb/xz_3.png" alt="" style="width:50%;margin:0 auto 1rem"> --></div>
<p style="width:90%;margin:0 auto;position: relative;">
	<a href="https://www.aifabu.com/Qfaq"><img src="__HOME__/btb/xz_1.png" alt=""style="width:50%;margin:auto;margin-top:0px;"/></a>
	<a href="https://app.goceshi.com/web/uch5"><img src="__HOME__/btb/xz_2.png" alt="" style="width:50%;margin:auto;margin-top:10px;" ></a>
</p>
<p style="width:290px;margin:auto;height:25px;margin-top:20px;">
	<span style="width:90px;border:1px solid #ffffff;float:left;margin-top:10px;"></span>
	<span style="margin-left:5px;color:#ff0909;margin-top:25px;width:100px;height:25px;line-height:25px;">苹果用户须知</span>
	<span style="width:90px;border:1px solid #ffffff;float:right;margin-top:10px;"></span>
</p>
<p style="color:#ffffff;margin:auto;font-size:10px;text-align:center;">
	《下载后，请前往设置，点击通用，在描述与设备，信任此签名》
</p>
<div class="enter">
		<a href="/user/login/index.html">直接登陆</a>
	</div>
</body>
</html>