<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>{:lang('NMCT和XMT双通证平台')}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__STATIC__/xmt/css/sm.min.css">
    <link rel="stylesheet" href="__STATIC__/xmt/css/sm-extend.css">
    <script type='text/javascript' src='__STATIC__/xmt/js/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__STATIC__/xmt/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__STATIC__/xmt/js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__STATIC__/xmt/js/global.js' charset='utf-8'></script>
	<script type='text/javascript' src='__STATIC__/xmt/js/vue.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='__STATIC__/xmt/js/vue-resource.min.js' charset='utf-8'></script>
</head>

