<style>
input{
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } ;
outline:0px; -webkit-appearance:none;
background:none;outline:none; border:0px;
color:#d0d0d0;width:80%;height:30px;
line-height:20px;margin-top:20px;

}
/*修改提示文字的颜色*/
#nickname::-webkit-input-placeholder { /* WebKit browsers */ 
color: #ffffff; font-size:16px;text-align:center;
} 
#mobile::-webkit-input-placeholder,#sms::-webkit-input-placeholder,#xm::-webkit-input-placeholder,#sfz::-webkit-input-placeholder,#gs::-webkit-input-placeholder,#mm::-webkit-input-placeholder{ 
font-size:16px;
color: #fff;
} 
.zc_box_top{
position: fixed;top:23%;left:10%;z-index:10;width:80%;
}
.reg{
border: 1px solid #ccc;width:100%;height:200px;
background:rgba(225,225,225,0.3);border-radius:15px;

}
.reg_top{
width:80%;margin-left:10%;border-bottom:1px solid #d0d0d0;
}
.reg_top>img{
width:25px;height:25px;float:right;margin-top:20px;
}
#nickname{
width:100%;
}
.tsk{
width:80%;height:40px;font-size:16px;background:#404040;z-index:30;
position: fixed;top:20%;left:10%;text-align:center;
border-radius:10px;color:#ffffff;line-height:40px
}.send_phone{
width:40%;height:30px;float:right;color:#ec8888;line-height:20px;margin-top:20px;
}
.sub{
width:100%;margin:auto;height:45px;margin-top:45px;
border-radius:10px;line-height:45px;background:#1b8ff3;
font-size:18px;letter-spacing:5px;color:#ffffff;text-align:center;
}
.sub_p{
width:80%;margin:auto;color:#ffffff;text-align:center;margin-top:5px;
}
.smz{
width:100%;height:100%;position: fixed;top:0;left:0;background:rgba(39, 56, 82, 1);
}
.smz_x{
font-size:30px;color:#ffffff;margin-left:20px;margin-top:20px;
}
.smz_top{
font-size:20px;color:#ffffff;text-align:center;margin-top:30px;letter-spacing:5px;margin-bottom:20px;
}
.smz_top1{
font-size:15px;color:#ffffff;text-align:center;margin-top:10px;letter-spacing:3px;width:90%;margin:auto;
}
</style>
<div class="zc_box" onclick="$('.zc_box').hide();$('#dm').text('');$('.reg_top>input').val('');"></div>
<span style="display:none;" id="dm"></span>
<div class="zc_box_top">
	<div class="reg">
		<div class="reg_top">
			<input id="mobile" name="mobile" onkeyup="value=value.replace(/[^\d]/g,'');" type="text" placeholder="请输入对方帐号" maxlength='11'/>
			<img onclick="$('#mobile').val('');" src="__HOME__/btb/x.png"/>
		</div>
		<div class="reg_top">
			<input id="gs" type="tle" onkeyup="value=value.replace(/[^\d]/g,'');" placeholder="请输入转出XMT金额" maxlength='12'/>
			<img onclick="$('#gs').val('');" src="__HOME__/btb/x.png"/>
		</div>
		<div class="reg_top">
			<input id="mm" type="password" onkeyup="value=value.replace(/[^\d]/g,'');" placeholder="请输入安全密码" maxlength='12'/>
			<img onclick="$('#mm').val('');" src="__HOME__/btb/x.png"/>
		</div>
	</div>
	<div class="sub" onclick="kq($('#yzm').text())">
		提交
	</div>
</div>
<script type="text/javascript">  
function kq(yzm){
	if($("#mobile").val()=="" || !/^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9]|19[0-9])\d{8}$/i.test($("#mobile").val())){
		layer.msg('请输入转出帐号');$('#mobile').val('');return false;
	}
	if($("#gs").val()=="" || $("#gs").val()==0){
		layer.msg($('#gs').attr('placeholder'));return false;
	}if($("#mm").val()==""){
		layer.msg('请输入安全密码');return false;
	}else{
		$.post("{:url('zc_oec')}",
			{mobile:$("#mobile").val(),mm:$("#mm").val(),gs:$("#gs").val(),dm:$('#dm').text()},function(res){
				if(res.code==1){
						layer.msg(res.msg,{time:1800},function(){
						history.go(0); 
                    });
				}else if(res.code==0){
						layer.msg(res.msg,{time:1800});
				}else{
					layer.msg(res.msg,{time:1800});
						history.go(0); 
				}
		});
	}
}
</script>