{include file="common/mainHead"/}
<style>
.red{
	background:#FFB800;
}
</style>
<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field">
	<table class="layui-table table-hover">
        	<thead>
					<tr>
					<th>
			<div class="layui-form-mid layui-word-aux" style="padding:0;">
                 <a href="{:url('list_')}?user_id={$user_id}&type=0" class="layui-btn {if $type==0}red{/if}">全部</a>
            </div>
						</th>
						<th>
			<div class="layui-form-mid layui-word-aux" style="padding:0;">
                 <a href="{:url('list_')}?user_id={$user_id}&type=1" class="layui-btn {if $type==1}red{/if}">USDT</a>
            </div>
						</th>
						<th>
			<div class="layui-form-mid layui-word-aux" style="padding:0;">
                 <a href="{:url('list_')}?user_id={$user_id}&type=2" class="layui-btn {if $type==2}red{/if}">XMT通证</a>
            </div>
						</th>
						<th>
			<div class="layui-form-mid layui-word-aux" style="padding:0;">
                 <a href="{:url('list_')}?user_id={$user_id}&type=3" class="layui-btn {if $type==3}red{/if}">NMCT通证</a>
            </div>
						</th>
						<th>
			<div class="layui-form-mid layui-word-aux" style="padding:0;">
                 <a href="{:url('list_')}?user_id={$user_id}&type=4" class="layui-btn {if $type==4}red{/if}">NMCT资产</a>
            </div>
						</th>
					</tr>
					<tr id="tj"></tr>
                </thead>
		</table>
        <div class="layui-field-box table-responsive">
            <table class="layui-table table-hover">
                <thead>
                <tr>
					<th>状态</th>
                    <th>数量</th>
					<th>用户</th>
					<th>时间</th>
					<th>操作</th>
                </tr>
                </thead>
                <!--内容容器-->
                <tbody id="con">
                </tbody>
                <tfoot>
                <tr>
				<td colspan="2">
				 <button type="button" class="layui-btn layui-btn-small" onclick="window.history.back();">{:lang('back')}</button>
               <!--  <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a> -->
				</td>
                    <td colspan="10">
                        <div id="paged" style="text-align: right"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </fieldset>
</div>

<!--模板-->
<script type="text/html" id="conTemp">
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
		<td>{{ item.title }}</td>
        <td>
		{{# if(item.usdt!=0){ }}
			{{ item.usdt }}USDT
		{{# } }}
        {{# if(item.xmt!=0){ }}
		{{ item.xmt }}XMT通证
		{{# } }}
		{{# if(item.nmct!=0){ }}
		{{ item.nmct }}NMCT通证
		{{# } }}
		{{# if(item.nmct_dj!=0){ }}
		{{ item.nmct_dj }}NMCT资产
		{{# } }}
		</td>
		<td>ID:{{ item.user_id }},昵称:{{ item.nickname }}</td>
		<td>{{ getdate(item.time) }}</td>
		<td>
			<a href="{:url('users/recharge_log')}?user_id={{item.user_id}}" style="background:#2f2f00" class="layui-btn">查看</a>
		</td>
    </tr>
    {{# }); }}
</script>
{include file="common/mainFoot"/}
<script>
    layui.config({
        base: '__ADMIN__/js/'
    }).use(['paging', 'code','icheck','layer'], function() {
        layui.code();
        var paging = layui.paging(),layer = parent.layer === undefined ? layui.layer : parent.layer;
        paging.init({
            url: "{:url('list_')}", //地址
            elem: '#con', //内容容器
            params: {user_id: "{$user_id}",type: "{$type}"}, //发送到服务端的参数
            tempElem: '#conTemp', //模块容器
            pageConfig: { //分页参数配置
                elem: 'paged', //分页容器
                pageSize: 15 //分页大小
            },
            success: function(msg) { //渲染成功的回调
                //alert('渲染成功');
            },
            fail: function(msg) { //获取数据失败的回调
                alert('获取数据失败')
            },
            complate: function() { //完成的回调
                //alert('处理完成');
            }
        });
    });
    function getdate(date){
        var date = new Date(date*1000);//如果date为10位不需要乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
        var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
        return Y+M+D+h+m+s;
    }
</script>